<!-- header -->
	<div class="top-header-area" id="sticker">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-sm-12 text-center">
					<div class="main-menu-wrap">
						<!-- logo -->
						<div class="site-logo">
							<a href="index.html">
								<img src="/assets/img/logo.png" alt="">
							</a>
						</div>
						<!-- logo -->

						<!-- menu start -->
						<nav class="main-menu">
							<ul>
								<li class="current-list-item"><a asp-action="index" asp-controller="HomePage">Home</a>
								</li>
								<li><a href="#">Cart</a>
									<ul class="sub-menu">
										<li><a href="404.html">Check Out</a></li>
									</ul>
								</li>
								<li><a href="news.html">Login</a></li>
								<li><a href="news.html">Register</a></li>
								<li><a href="news.html">SignOut</a></li>


								<li><a href="news.html">User</a>
									<ul class="sub-menu">
										<li><a href="news.html">DashBoard</a></li>
										<li><a href="single-news.html">My Profile</a></li>
										<li><a href="single-news.html">My Orders</a></li>

									</ul>
								</li>
								<li><a asp-action="index" asp-controller="shop">Shop</a></li>
								<li>
									<div class="header-icons">
										<a class="shopping-cart" href="cart.html"><i class="fas fa-shopping-cart"></i></a>
									</div>
								</li>
							</ul>
						</nav>
						<!-- menu end -->
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end header -->