<!-- header -->
	<div class="top-header-area" id="sticker">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-sm-12 text-center">
					<div class="main-menu-wrap">
						<!-- logo -->
						<div class="site-logo">
							<a asp-action="index" asp-controller="HomePage">
								<img src="/assets/img/logo.png" alt="">
							</a>
						</div>
						<!-- logo -->

						<!-- menu start -->
						<nav class="main-menu">
							<ul>
								<li class="current-list-item"><a asp-action="Index" asp-controller="HomePage">Home</a>
								
								</li>
								
								<li><a asp-action="Index" asp-controller="CheckOut">Checkout</a></li>
								@if (User.Identity.IsAuthenticated == true)
									{
								<li><a asp-action="details" asp-controller="user">User</a>
									<ul class="sub-menu">
										@if (User.IsInRole("Admin"))
									{
										<li><a asp-action="Index" asp-controller="Admin">DashBoard</a></li>
									}
										<li><a asp-action="details" asp-controller="user">My Profile</a></li>
										<li><a asp-action="getuserorders" asp-controller="user">My Orders</a></li>
									</ul>
								</li>
									}
								<li><a asp-action="index" asp-controller="shop">Shop</a></li>
						
									@if (User.Identity.IsAuthenticated == false)
									{
										<li><a asp-action="Login" asp-controller="Account">Login</a></li>
										<li><a asp-action="Register" asp-controller="Account">Register</a></li>
									}
									else
									{
									<li><a asp-action="Signout" asp-controller="Account">Logout</a></li>
									if (User.IsInRole("Admin"))
									{
									<li><a asp-action="registeradmin" asp-controller="Account">Add admin</a></li>									
									}
									}
								<li>
									<div class="header-icons">
										<form name="lcForm" asp-action="GetData" asp-controller="Cart" method="post"  onsubmit="submitForm();">
										<div class="header-icons">
											<input type="hidden" value="" name="lcInput"/>
											@*<button type="submit" class="shopping-cart"></button>*@
											
											<button type="submit" class="shopping-cart" style="padding: 2px 12px;border:none;cursor: pointer;background-color: #F28123;color: #fff;border-radius: 8px;"><i class="fa" style="font-size:15px;color:white">&#xf07a; <span style="color:white" id="counter"> </span></i></button>


										</div>
									</form>
		
									</div>
							

								</li>
								
							</ul>
						</nav>
						
					
						<!-- menu end -->
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end header -->


	<script>
		function submitForm(){
			//console.log("to cart")
			//let items=[{id:5,quantity:2},{id:2,quantity:3}]
			//window.localStorage.setItem("cartContent",JSON.stringify(items))
			var cartItems=localStorage.getItem("cartContent")
			  document.lcForm.lcInput.value = cartItems;
			return true;

			
		}
	</script>