<!-- header -->
	<div class="top-header-area" id="sticker">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-sm-12 text-center">
					<div class="main-menu-wrap">
						<!-- logo -->
						<div class="site-logo">
							<a href="index.html">
								<img src="/assets/img/logo.png" alt="">
							</a>
						</div>
						<!-- logo -->

						<!-- menu start -->
						<nav class="main-menu">
							<ul>
								<li class="current-list-item"><a asp-action="Index" asp-controller="HomePage">Home</a>
								
								</li>
								
								<li><a asp-action="Index" asp-controller="CheckOut">Checkout</a></li>
								@if (User.Identity.IsAuthenticated == true)
									{
								<li><a >User</a>
									<ul class="sub-menu">
										@if (User.IsInRole("Admin"))
									{
										<li><a asp-action="Index" asp-controller="AdminPage">DashBoard</a></li>
									}
										<li><a asp-action="details" asp-controller="user">My Profile</a></li>
										@*<li><a asp-action="details" asp-controller="user">My Orders</a></li>*@
									</ul>
								</li>
									}
								<li><a asp-action="index" asp-controller="shop">Shop</a></li>
						
									@if (User.Identity.IsAuthenticated == false)
									{
										<li><a asp-action="Login" asp-controller="Account">Login</a></li>
										<li><a asp-action="Register" asp-controller="Account">Register</a></li>
									}
									else
									{
									<li><a asp-action="Signout" asp-controller="Account">Logout</a></li>
									if (User.IsInRole("Admin"))
									{
									<li><a asp-action="registeradmin" asp-controller="Account">Add admin</a></li>									
									}
									}
								<li>
									<div class="header-icons">
										<a class="shopping-cart"  asp-action="Index" asp-controller="Cart"><i class="fa" style="font-size:24px">&#xf07a;</i>
										<span class='badge badge-warning' id='lblCartCount' style="background-color:#F28123"> 0 </span></a>
									</div>
								</li>
								
							</ul>
						</nav>
						
					
						<!-- menu end -->
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end header -->