@model List<ProductNameAndPriceViewModel>
@{
	ViewData["Title"] = "Index";
	Layout = "_Fruitikha";
	var shipping = 20;
	double subtotal = 0;
}


<style>
#district {
    position: relative;
    display: inline-block;
    margin-bottom: 15px;
    width: 100%;
	height:57px;
	padding:15px;
	color:rgb(84, 84, 84);
	border: 1px solid #ddd;
    border-radius: 2px;


}    #district select {
        font-family: 'Arial';
        display: inline-block;
        width: 100%;
        cursor: pointer;
        padding: 15px 15px;
        outline: 0;
        background: #fff;
        color: #ddd;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
    }
        #district select::-ms-expand {
            display: none;
        }
        #district select:hover,
        #district select:focus {
            color: #000000;
            background: #fff;
        }
        #district select:disabled {
            opacity: 0;
            pointer-events: none;
        }
</style>
	<div class="checkout-section mt-150 mb-150">
		
		<div class="container">
			<div class="row">
				<div class="col-lg-8">
					<div class="checkout-accordion-wrap">
						<div class="accordion" id="accordionExample">
						  <div class="card single-accordion">
						    <div class="card-header" id="headingOne">
						      <h5 class="mb-0">
						        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
						          Billing Address
						        </button>
						      </h5>
						    </div>

						    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
						      <div class="card-body">
						        <div class="billing-address-form">
						        	<form action="index.html">
						        		<p><input type="text" placeholder="Name"></p>
						        		<p><input type="email" placeholder="Email"></p>
										<p><input type="text" placeholder="Country" value="Egypt" disabled></p>
										<select id="district" name="district">
										<option>choose a district</option>
											<option value="Cairo">Cairo</option>
											<option value=" Dakahlia"> Dakahlia</option>
											<option value="Damietta">Damietta</option>
											<option value="Gharbia"> Gharbia</option>
											<option value="Giza">  Giza</option>
											<option value=" Ismailia"> Ismailia</option>
											<option value="Sharqia"> Sharqia</option>

										</select>
						        		<p><input type="text" placeholder="Address"></p>
						        		<p><input type="tel" placeholder="Phone"></p>
						        	</form>
						        </div>
						      </div>
						    </div>
						  </div>
						  <div class="card single-accordion">
						    <div class="card-header" id="headingTwo">
						      <h5 class="mb-0">
						        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
						          Shipping Address
						        </button>
						      </h5>
						    </div>
						    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
						      <div class="card-body">
						        <div class="shipping-address-form">
						        	<p>Your shipping address form is here.</p>
						        </div>
						      </div>
						    </div>
						  </div>
						  <div class="card single-accordion">
						    <div class="card-header" id="headingThree">
						      <h5 class="mb-0">
						        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
						          Card Details
						        </button>
						      </h5>
						    </div>
						    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
						      <div class="card-body">
						        <div class="card-details">
						        	<p>Your card details goes here.</p>
						        </div>
						      </div>
						    </div>
						  </div>
						</div>

					</div>
				</div>

				<div class="col-lg-4">
					<div class="order-details-wrap">
						<table class="order-details">
							<thead>
								<tr>
									<th>Your order Details</th>
									<th>Price</th>
								</tr>
							</thead>
							<tbody class="order-details-body">
					
								@foreach (var item in Model)
							   {
								  <tr>
									<td>@item.ProductName</td>
									<td>@item.Price</td>
								</tr>
								subtotal+= item.Price;
							}
							</tbody>
							<tbody class="checkout-details">
								<tr>
									<td>Subtotal</td>
									<td>$@subtotal</td>
								</tr>
								<tr>
									<td>Shipping</td>
									<td>$@shipping</td>
								</tr>
								<tr>
									<td>Total</td>
									<td>$@(shipping+subtotal)</td>
								</tr>
							</tbody>
						</table>
						<a href="#" class="boxed-btn">Place Order</a>
					</div>
				</div>
			</div>
		</div>
	</div>